.cards-info-grid {
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;


  @include tablet-l {
    display: flex;
    flex-wrap: wrap;
  }

  @include tablet-sm {
    display: block;
  }
}

.cards-info-grid .card {
  padding: 2rem 4rem;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  position: relative;

  @include tablet {
    margin-top: 2rem;
  }

  h3 {
    color: #000;
  }
} 


.card-title { 
  color: $primary-color;
  font-family: $font-stack;
  text-transform: uppercase;
  letter-spacing: 2px;
}