.graph-section {
  min-height: 100vh;
  height: 130vh;
  display: flex;
  flex-direction: column;

  @include tablet {
    height: 150vh;
  }

  @include tablet-sm {
    height: 200vh;
  }
}


.chart-container {
  padding-bottom: 1rem;
  width: 80%;
  margin: auto;
}

.chart-container > * {
  height: 100%;
  width: 100%;
}