$primary-color: #20B560;
$secondary-color: #4ACC8A;
$white-color: #fff;
$red-color: #ff3600;
$font-stack: 'Maven Pro', sans-serif;

.container {
  width: 80%;
  margin: 0 auto;
}

section {
  height: 100vh;
  width: 100%;
  background-size: cover;
}