$primary-color: rgb(115, 46, 193);
$white-color: #fff;
$red-color: #ff3600;
$font-stack: 'Maven Pro', sans-serif;

.container {
  width: 80%;
  margin: 0 auto;
}

section {
  height: 100vh;
  width: 100%;
  background-size: cover;
}