footer {
  padding: 2rem 4rem;
  background: $primary-color;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.099);

  h1 {
    color: $white-color;
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;

    @include tablet {
      font-size:0.7rem;
    }
  }

  span {
    color: $red-color;
  }

  .social-icons {
    margin: 10px 0;

    & > * {
      margin-right: 20px;

    }
  }


  
}