nav {
  padding: 1rem 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
              0 2px 3px rgba(0, 0, 0, 0.0992),
              0 3px 3px rgba(0, 0, 0, 0.05);


  .container {
    display: flex;
    align-items: center;
  
    
    .brand {
      flex: 3;
    }

    ul {
      flex: 1;

    }

  }

}


nav .container ul {
  display: flex;
  justify-content: space-around;
  list-style: none;

  li a {
    transition: all 0.4s;
    @include tablet {
      color: #fff;
    }
    color: #222;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }


  @include tablet {    
    z-index: 10000;
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    align-items: center;
    transition: all 0.4s;
  }
  

  &.active-nav-menu {
    @include tablet {
      right: 0;
      background: $white-color;
      box-shadow: 2px 0 10px rgba(0, 0, 0, 0.4);
  
      li a {
        position: relative;
        font-size: 1.3rem;
        color: $primary-color;
        animation: fadeIn 1s;
        font-weight: bold;
      }
    }
  }
  
}


.nav-logo {
  width: 30%;
}

.nav-toggle {
  @include tablet {
    display: block;
  }
  display: none;
  cursor: 'pointer';
  position: fixed;
  right: 10%;
  z-index: 1000;
}
