.showcase {
  background: url('../images/Vector.png') center center fixed;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;


  @include tablet {
    display: block;
    text-align: center;
  }
}

.showcase-text {
  @include tablet {
    width: 80%;
    margin: 0 auto;
  }
  h1 {
    color: #fff;
    font-size: 3rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }
}

.showcase-img {
  img {
    width: 90%;

    @include tablet {
      width: 50%;
    }
  }
}

.showcase {
  .form-group {    
    width: 60%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;    
  
    @include tablet {
      width: 80%;
      margin: 1rem auto;
    }
  }
}


.form-control {
  border-radius: 2rem;
  width: 70%;
  padding: 14px 25px;
  border: none; 
  outline: none;
  font-family: $font-stack;
  transition: all 0.4s; 

  &:focus {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
}