.showcase {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;


  @include tablet {
    display: block;
    text-align: center;
  }
}

.showcase-text {
  @include tablet {
    width: 80%;
    margin: 0 auto;
  }
  h1 {
    color: #333;
    font-size: 3rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }
}

.showcase-img {
  img {
    width: 90%;

    @include tablet {
      width: 50%;
    }
  }
}

.showcase {
  .form-group {    
    width: 60%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;    
  
    @include tablet {
      width: 80%;
      margin: 2rem auto;     
      display: block;
    }

  }
}


.form-control {
  font-family: 'Maven Pro', sans-serif;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 70%;
  padding: 15px 25px;
  outline: none;
  font-family: $font-stack;
  transition: all 0.4s; 
  border: none;
  
  &:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  }

  @include tablet {
    width: 100%;
  }
}


.showcase-title {
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  color: $primary-color;
}