@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;669;700;800;900&display=swap');
@import 'config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}


html, body {
  height: 100%;
  width: 100%;
  font-family: $font-stack;
}

@import 'mediaqueries';
@import 'nav';
@import 'showcase';
@import 'buttons';
@import 'cardsinfo';
@import 'chart';
@import 'affectedcountry';
@import 'card-grid';
@import 'footer';
@import 'animations';