@import 'config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  width: 100%;
  font-family: $font-stack;
  // scroll-behavior: smooth;
}

@import 'mediaqueries';
@import 'nav';
@import 'showcase';
@import 'buttons';
@import 'cardsinfo';
@import 'chart';