* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  background: #121212;
  display: flex;
}

.App__left {
  padding: 2rem;
  flex: 0.3;
}

.App__right {
  padding: 2rem;
  flex: 4;
}
